:root{
--main-color: #212121;
--secondary-color: #757575;

}
body {background-color: #FFFFFF;
    ;
    font-family: Roboto, sans-serif;
    color: #212121;
    ;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}
/* --------------------HEADER-------------------- */
/* a {
    padding-top: 24px;
    padding-bottom: 24px;
} */
.header-container {
    display: flex;
    align-items: center;

    
    
}
.header-item:not(:last-child) {
    margin-right: 50px;
}

  .header {
    border-bottom: 1px solid #ECECEC;
  } 


.header-connect {
    margin-left: auto;
   
}
.header-contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-list {
    display: flex;
    margin-left: 93px;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.link-mail {
    margin-right: 50px;
}
.logo {
    padding-top: 24px;
    padding-bottom: 24px;

}
.partlogo {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
    color: #2196F3;
    /* padding-top: 24px;
    padding-bottom: 24px; */
}
.partlogos {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    /* padding-top: 24px;
    padding-bottom: 24px; */
}
.partlogo-bottom {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    /* padding-top: 24px;
    padding-bottom: 24px; */
}
.link-item {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);
/* padding-top: 32px;
padding-bottom: 32px; */
}
.const {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
    color: #2196F3;
    /* padding-top: 32px;
    padding-bottom: 32px; */
}
.btn-const {
    background-color: #2196F3;
    ;
}
.btn{
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;

color: #212121;  
}

.link-mail,
.link-tel{
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-color);
/* padding-top: 32px;
padding-bottom: 32px; */
}
.link:hover, 
.link:focus 
{color: #2196F3;}

.btn:hover,
.btn:focus
{
  color: #ffffff;
  ;  
}
.btn {
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-color);
border-radius: 4px;
border: none;
}
.list {list-style: none;}
.link {
    text-decoration: none;
}
/* ---------------------------MAIN--------------------------- */
/* ---------------------------HERO--------------------------- */
.hero-container {
    padding-top: 200px;
    padding-bottom: 200px;        
}
.hero,
.bottom {
    background-color: #2F303A;
}

.book-btn {
cursor: pointer;
background-color: #2196F3;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;

color: #FFFFFF;
margin-left:auto;
margin-right:auto;
min-width: 200px;
min-height: 50px;
border-radius: 4px;
}
.hero{
    text-align: center;
}
.hero-title{
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 30px;
max-width: 696px;
margin-left: auto;
margin-right: auto;
}
.item-content:not(:last-child) {
    margin-right: 30px;
}
/* -----------------FEATURES------------------------- */
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-item:not(:first-child) {
    margin-left: 30px;   
}

.features-item {
    max-width: 270px;
}
.features-list .hero-title{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-color);
}
.features-list{
    display: flex;
    justify-content: center;
    /* padding-left: 30px; */
    
}
.features-title {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-color);
margin-bottom: 10px;

}
.about {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    
    color: var(--secondary-color);
  
}
.title {
    margin-bottom: 50px;
    text-align: center;

}
.container-pic {
    display: flex;
    justify-content: space-between;
}
.container-todo {
    padding-bottom: 94px;
}
/* ----------------------MEMBERS---------------------------- */
.members {
    background-color: #F5F4FA;
    margin: 0;
    padding-top: 94px;
}
/* .container-members {
    
} */
.list-members {
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 50px;
    /* margin-bottom: 94px; */
    margin-left: -30px;
}
.title {
    font-weight: bold;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;

color: var(--main-color);
}

.title-members {
    font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;


color: var(--main-color);
}
.name-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
  
overflow: hidden;
}
.name {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;

color: var(--main-color);

}
.img-title {
    font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: #212121;
}
.name-text {
    font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color: var(--secondary-color);
margin-top: 10px;
}
.card-content {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    
}
/* ---------------FOOTER------------------ */
.footer-logo {
    display: inline-block;
    margin-bottom: 20px;

}
.bottom {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}
.bottom-contact {
    display: inline-block;
    /* margin-top: 20px; */
    margin-bottom: 9px;
}
.map {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.contact {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
margin-top: 9px;
}
/* ------------------PORTFOLIO------------------------- */
.padding-container {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 1px solid red; */
}
.list-btn {
    display: flex;
   
}
.content-container {
    display: flex;
    padding-bottom: 50px;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.portfolio-title {
    font-weight: bold;
font-size: 18px;
line-height: 0.11;
letter-spacing: 0.06em;

color: var(--main-color);
}
.btn-port {
min-width: 73px;
min-height: 38px;
border-radius: 4px;
margin-right: 8px;
padding-left: 22px;
padding-right: 22px;
}
.item-portfolio {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC ;
overflow: hidden;
}

.portfolio-content {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}